.menu{
	display: flex;
	justify-content: space-between;
	&__items{
		display: flex;
		justify-content: space-between;
		line-height: 20px;
		margin: 13px 0 13px 10px;
	}
	&__item {
		a{
			color:#616F82;
			&:hover{
				color: #4198C5;
			}
			&:active{
				color: #4198C5;
			}
		}
		font-size: 14px;
		padding: 0 20px;
		&:first-child{
			padding-left: 0;
		}
		&:not(:last-child){
			border-right: 1px solid #CDCDCD;
		}
	}
	&__new{
		display: flex;
		align-items: center;
		p{
			color: #616F82;
			padding: 10px;
		}
		button {
			margin-right: 20px;
		}
	}
}
.active{
	color: #4198C5;
}