.notes {
	background-color: white;
	border-radius: 4px;
	flex: 1 1 ;
	
	
	&__content{
		padding: 15px;
		&_note{
			display: flex;
			padding-bottom: 20px;
			justify-content: space-between;
			&-info{
				max-width: 680px;
			}
			img{
				border: 5px solid #CDCDCD;
				border-radius: 4px;
			}
		}
		&_text{
			color: #161718;
			line-height: 24px;
			span {
				color: #616F82;
			line-height: 24px;
			padding-right: 8px;
			}
		}
	}
}