.profile{
	background-color: white;
	display: flex;
	justify-content: space-between;
	border-radius: 4px;
	&__about{
		display: flex;
	}
	img {
		margin: 10px;
	}
	&__info{
		padding-top: 15px;
	}
	p{
		color: #161718;
	}
	&__name{
		font-size: 16px;
	}
	&__age {
		padding-top: 6px;
		font-size: 12px;
	}
	
}
.dropdown {
	position: relative;
	&__content {
		position: absolute;
		left: -220px;
		z-index: 1;
		background-color: white;
		box-shadow: 0px 2px 16px rgba(34, 34, 34, 0.16);
		border-radius: 4px;
		min-width: 230px;
		padding: 8px 0;
		li{
			padding: 10px 0 10px 20px;
			color: #161718;
			&:hover{
		background-color: #F1F2F3;
	}
	}
	
	}
}