.count-users {
	&__content{
		padding: 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		button {
			color: #616F82;
		}
		&_counter{
			color: white;
			font-size: 12px;
			font-weight: 500;
			line-height: 18px;
			background-color: #616F82;
			padding: 0px 4px;
			border-radius: 9px;
		}
		input{
			border: 1px solid #CDCDCD;
			border-radius: 4px;
		}
		&_checkbox{
			display: flex;
			align-items: center;
			gap: 10px;
			span{
				color: #616F82;
			}
		}
		&_buttons{
			button:first-child{
				padding-right: 10px;
			}
			
		}
	}
}
.count-checkbox{
	background-color: #4198C5;
	min-width: 28px;
	text-align: center;
}

